@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Niconne&display=swap");
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search][type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted;
}

[type=reset], [type=submit], button, html [type=button] button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

:root {
  --base_color:#999;
  --color_1:#FFB11B;
  --color_2:#DCB879;
  --color_3: #711f1f;
  --color_4:#FFB11B55;
  --txt_color:#111;
}

:root {
  --font_ja: "Kaisei Decol", serif;
  --font_en: "Niconne", cursive;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--color_1);
  display: flex;
  min-width: 100%;
  height: 150px;
  margin: 0 auto;
  align-items: center;
}
header .logo {
  margin-left: 160px;
}
header .logo > img {
  width: 130px;
  height: 130px;
  border-radius: 20px;
}
header > h1 {
  font-size: 42px;
  font-family: var(--font_ja);
  letter-spacing: 10px;
}
header > h1 > span {
  font-size: 16px;
  margin: 0 40px;
  letter-spacing: 2px;
}

.yoyaku {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 4;
  width: 180px;
  height: 100px;
  border-radius: 9999px;
  background-color: #FFF;
  color: var(--color_1);
  border: 2px solid var(--color_1);
  font-weight: bold;
  font-size: 20px;
}

#g-nav {
  max-width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  margin: 0 auto;
  background-color: #FFF;
}
#g-nav ul {
  width: 960px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
#g-nav ul li {
  width: 14.2857142857%;
  text-align: center;
}
#g-nav ul li a {
  display: block;
  line-height: 50px;
  color: var(--txt_color);
}
#g-nav ul li a:hover {
  background-color: var(--color_2);
  transition: 0.5s;
  font-weight: bold;
}

.main-visual {
  width: 100%;
  height: 100vh;
  margin-bottom: 150px;
}

.main-visual li {
  width: 100%;
  height: 100vh;
}

.main-visual img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.tag {
  position: absolute; /* bodyが基準点 */
  top: 280px;
  left: 160px;
  background-color: var(--color_4); /* 7-8桁目が不透明度の設定 */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
  padding: 36px 40px;
  border-radius: 24px;
}
.tag .tag-line {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 10px;
}

.onayami {
  margin-bottom: 150px;
  /*少しずらしたボックス*/
}
.onayami .onayami-box > h2 {
  margin: 50px 0;
  text-align: center;
  font-size: 46px;
}
.onayami .onayami-box > p {
  width: 600px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color_4);
  border-radius: 99999px;
  font-size: 24px;
}
.onayami .yajirusi {
  margin: 30px auto 50px;
}
.onayami .yajirusi > p {
  text-align: center;
}
.onayami .yajirusi > p > img {
  width: 100px;
  height: 100px;
}
.onayami .omakase {
  width: 600px;
  margin: 0 auto;
  padding: 2em; /*内側の余白*/
  background: none; /*元のボックス背景色なし*/
  border: 1px solid #ccc; /*線の太さ・種類・色*/
  position: relative; /*配置（基準）*/
  text-align: center;
}
.onayami .omakase > :after {
  background-color: #fabcbc; /*ずらしたボックスの背景色*/
  border: none;
  content: "";
  position: absolute; /*配置（ここを動かす）*/
  top: 7px; /*上から7pxずらす*/
  left: 7px; /*左から7pxずらす*/
  width: 100%;
  height: 100%;
  z-index: -1;
}
.onayami .omakase > p {
  font-size: 36px;
  font-weight: bold;
}

#menu .menu-wrapper {
  width: 60%;
  -moz-columns: 2;
       columns: 2; /* レスポンシブで変えるのがラク スマホの時は1にすればOK htmlの高さは入れない*/
  margin: 0 auto 100px;
  -moz-column-gap: 40px;
       column-gap: 40px; /* 列と列の間の隙間 */
}
#menu .menu-wrapper .menu-box {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color_2);
  border-radius: 20px;
}
#menu .menu-wrapper .menu-box > h3 {
  font-size: 24px;
  text-align: center;
}
#menu .menu-wrapper .menu-box > img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
#menu .menu-wrapper .menu-box > p {
  margin: 10px;
}
#menu .menu-wrapper .menu-box > button {
  padding: 10px 20px;
  background-color: #FFF;
  border: 2px solid var(--txt_color);
  border-radius: 12px;
  margin: 0 auto;
  display: block;
}

#time {
  margin: 20px auto 150px;
}
#time h2 {
  text-align: center;
  margin-bottom: 20px;
}

.biz-hour {
  display: block;
  border-collapse: collapse;
  /* overflow-x: scroll;で、
  スマホ画面幅に表が入りきらない場合は
  横スクロールしてくれます */
  /* overflow-x: scroll; */
}

.biz-hour th {
  /* １番上の線 */
  /* #A28C63っていうのが色の名前なので、ここをお好みで */
  border-top: 1px solid #A28C63;
}

.biz-hour th, .biz-hour td {
  padding: 10px 20px;
  text-align: center;
  /* ２番目以降の線 */
  /* 色はお好みで */
  border-bottom: 1px solid #A28C63;
}

/* スマホ時に横スクロールしないよう、横の余白（padding）を20px→10pxに */
@media screen and (max-width: 559px) {
  .biz-hour th, .biz-hour td {
    padding: 10px 10px;
  }
}
.biz-hour th {
  font-weight: normal;
}

/* 「土」の文字色 */
.biz-hour th.sat {
  color: #3db2da;
}

/* 「日」の文字色 */
.biz-hour th.sun {
  color: #e66a6a;
}

.news-box {
  max-width: 600px;
  display: block;
  margin: 0 auto 150px;
  padding: 20px;
}
.news-box > h2 {
  margin-bottom: 20px;
  text-align: center;
}
.news-box .news-list {
  display: flex;
  flex-wrap: wrap;
}
.news-box .news-list dt {
  width: 20%;
  margin-bottom: 10px;
}
.news-box .news-list dd {
  width: 80%;
  margin-bottom: 10px;
}
.news-box .news-list dd > a:hover {
  text-decoration: underline;
  color: #4b620d;
}

#access {
  max-width: 960px;
  margin: 0 auto;
}
#access h2 {
  margin-bottom: 20px;
  text-align: center;
}
#access .access-wrapper {
  display: flex;
  justify-content: space-between;
}

footer {
  height: 150px;
  text-align: center;
  line-height: 150px;
  background-color: var(--color_1);
}/*# sourceMappingURL=style.css.map */